!!! 5
%html{ :lang => 'en' }
  %head
    %meta{ :charset => 'utf-8' }
    %meta{ :content => 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }
    %title= current_page.data.title || 'Northland, A Church Distributed'
    = stylesheet_link_tag '//cloud.typography.com/6627932/702608/css/fonts.css'
    = stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons'
    = stylesheet_link_tag 'application'
  %body{ class: page_classes }
    = partial "shared/navigation"
    = yield
    = partial "shared/footer"
    
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'
    = javascript_include_tag 'vendor'
    = javascript_include_tag 'application'
