%nav.navigation
  .social.social--navigation
    = link_to "Twitter", "https://twitter.com/northlandchurch"
    = link_to "Facebook", "https://www.facebook.com/northlandchurch"
    = link_to "YouTube", "https://www.youtube.com/user/NorthlandChurch"
  .row
    .logo
      = link_to "Northland", "index.html", class: "logo-primary"
      = link_to "A Church Distributed", "#", class: "logo-secondary"
    .navigation-primary