.hero.hero--resource
  .hero-media{style: "background-image: url(#{image_path 'resource-ocean.jpg'})"}
  .hero-content
    .cell
      %ul.breadcrumbs.breadcrumbs--transparent
        %li= link_to "Home", "#"
        %li= link_to "Resources", "#"
        %li= link_to "Category", "#"
  .hero-extend
    .cell
      %h1.heading.heading--l Miracles
      %p.mbl.tci.tss What its like to be grafted into relationship with God, and others.

.row
  .cell
    .g
      .g-b.g-b--m--2of3
        .card
          %article.article
            = partial "shared/kitchen-sink"
      .g-b.g-b--m--1of3
        = link_to "#", class: "editorial editorial--sidebar", style: "background-image: url(#{image_path 'resource-beach.jpg'})" do
          .editorial-text
            %h2.editorial-title Miracles
            %p How faith can survive miracle-less moments.
            .tag Wisdom
          .meta.meta--bottom
            %h4.meta-author Becky C. Hunter
            %p.meta-date May 8, 2015
        = link_to "#", class: "editorial editorial--sidebar", style: "background-image: url(#{image_path 'resource-table.jpg'})" do
          .editorial-text
            .editoral-video
              %i.material-icons play_arrow
            %h2.editorial-title Because I Told You So
            .meta
              %h4.meta-author Becky C. Hunter
              %p.meta-date May 8, 2015
            .tag Art