.row.row--inverted.row--page
  .cell.well
    .g
      .g-b.g-b--m--1of2
        %h1.heading.heading--l.mbxl Calendar of Events
    .g
      .g-b.g-b--m--3of4.fr
        %hr.rule.mbl
        %h2.heading.heading--italic.heading--m.mbl Featured Events
        .g.g--dib
          - 3.times do
            .deck.g-b.g-b--s--1of2.g-b--l--1of3
              = link_to "event.html" do
                .media.media--medium{style: "background-image: url(#{lorem.image('600x350')})"}
                %h4.deck-title Event Title Goes Here
                %dl.dictionary.deck-description
                  %dt.dictionary-term Date:
                  %dd.dictionary-definition May 12, 2015
                  %dt.dictionary-term Time:
                  %dd.dictionary-definition 8:00p
                  %dt.dictionary-term Location:
                  %dd.dictionary-definition Longwood
                  %dt.dictionary-term Category:
                  %dd.dictionary-definition Ministry
        %hr.rule.mbl.mtxl
        %h2.heading.heading--italic.heading--m.mbl All Events
        %ul.has-events
          %li
            = link_to "event.html", class: "event" do
              .event-date{style: "background-image: url(#{lorem.image('350x350')})"} 12 <span>May</span>
              %h4.event-title Fusce Ipsum Mattis Euismod Pharetra
              %dl.dictionary.dictionary--inline.event-details
                %dt.dictionary-term Date:
                %dd.dictionary-definition May 12, 2015
                %dt.dictionary-term Time:
                %dd.dictionary-definition 8:00p
                %dt.dictionary-term Location:
                %dd.dictionary-definition Longwood
                %dt.dictionary-term Category:
                %dd.dictionary-definition Ministry
      .g-b.g-b--m--1of4
        %hr.rule.mbl
        %table.calendar.mbxl
          %thead
            %tr
              %td
                = link_to "#" do
                  %i.material-icons keyboard_arrow_left
              %td{colspan: '2'} August
              %td
                = link_to "#" do
                  %i.material-icons keyboard_arrow_right
              %td
                = link_to "#" do
                  %i.material-icons keyboard_arrow_left
              %td 2015
              %td
                = link_to "#" do
                  %i.material-icons keyboard_arrow_right
            %tr
              %th Sun
              %th Mon
              %th Tue
              %th Wed
              %th Thu
              %th Fri
              %th Sat
          %tbody
            %tr
              %td 29
              %td 30
              %td 31
              %td 1
              %td 2
              %td 3
              %td 4
            %tr
              %td 5
              %td 6
              %td 7
              %td 8
              %td 9
              %td 10
              %td 11
            %tr
              %td 12
              %td 13
              %td 14
              %td 15
              %td 16
              %td 17
              %td 18
            %tr
              %td 19
              %td 20
              %td 21
              %td 22
              %td 23
              %td 24
              %td 25
            %tr
              %td 26
              %td 27
              %td 28
              %td 29
              %td 30
              %td 31
              %td 1
        = partial "shared/filter"