.hero.hero--primary
  .hero-media
  .hero-content
    .cell
      %h1.heading.heading--xl Connect
  .hero-extend
    .cell
      %h4 Featured Opportunities
      %hr.rule.rule--transparent.mbl
      .g
        - 4.times do
          .deck.deck--inverted.g-b.g-b--s--1of2.g-b--m--1of4.mbm
            = link_to "#", class: "db tci" do
              .media.media--small{style: "background-image: url(#{lorem.image('600x350')})"}
              %h3.deck-title Locations &amp; Services
              %p.deck-description Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio.

.row.row--inverted
  .cell.well
    %h4 Ways to Connect
    %hr.rule.mbl
    .g
      - 3.times do
        .g-b.g-b--m--1of3
          = link_to "#", class: "media media--connect media--medium", style: "background-image: url(http://lorempixel.com/600/350/abstract)" do
            .media-content
              %h3.mbf.tss Connect Title
      - 8.times do
        .g-b.g-b--1of2.g-b--m--1of4
          = link_to "#", class: "media media--connect media--small", style: "background-image: url(http://lorempixel.com/600/350/abstract)" do
            .media-content
              %h3.mbf.tss Connect Title
    = link_to "Load More", "#", class: "pagination"