.hero
  .hero-content
    .cell
      %h1.tci A Church Distributed
      = link_to "#", class: "video" do
        .video-thumbnail
          = image_tag 'hero-home.jpg'
        %h2.tsxs Watch the Film
        %p.mbf You're invited to <em>be</em> the church.
  .hero-extend
    .cell
      .g
        - 4.times do
          .g-b.g-b--s--1of2.g-b--m--1of4.mbm
            = link_to "#", class: "db tci" do
              %h3.tss Locations &amp; Services
              %p.tsxxs Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Curabitur blandit tempus porttitor.

.row.row--gray
  .cell.well
    .g
      - 4.times do
        .g-b.g-b--s--1of2.g-b--m--1of4.mbm.mtm
          = link_to "#", class: "db" do
            = image_tag lorem.image('600x350'), class: "mbm"
            %h3.tss Summer Internship
            %p.mbf.tct.tsxxs The youth of northland are on a mission to build a stronger, better community.


.row.row--inverted
  .cell.cell--s.well.well--l.tac
    %blockquote
      "Thy kingdom come, Thy will be done on earth as it is in heaven."
      %cite &ndash; Jesus
    %hr
    %h1
      Do you know the
      %br
      %em.tca so that
      %br
      of your life?
    %hr
    %p If the highest aim of following Jesus is to be closer to God, then God would have taken you to heaven as soon as you committed your life to Him. But, you're still here, which means there is a reason you woke up this morning.
    %p Do you know why? Have you discovered what it is like to rest at the end of the day and know you were used by God?
    %p= link_to "Learn more about God", "#"