.hero
  .hero-content
    .cell
      %h1.tci A Church Distributed
      = link_to "#", class: "video" do
        .video-thumbnail
          = image_tag 'hero-home.jpg'
        %h2.tsxs Watch the Film
        %p.mbf You're invited to <em>be</em> the church.
  .hero-extend
    .cell
      .g
        - 4.times do
          .g-b.g-b--s--1of2.g-b--m--1of4.mbm
            = link_to "#", class: "db tci" do
              %h3.tss Locations &amp; Services
              %p.tsxxs Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Curabitur blandit tempus porttitor.

.row.row--gray
  .cell.well.well--xl
    .g
      - 4.times do
        .g-b.g-b--s--1of2.g-b--m--1of4.mbm.mtm
          = link_to "#", class: "db" do
            = image_tag lorem.image('600x350'), class: "mbm"
            %h3.tss Summer Internship
            %p.mbf.tct.tsxxs The youth of northland are on a mission to build a stronger, better community.


.row.row--inverted
  .cell.cell--s.well.well--xl.tac
    %blockquote "Thy kingdom come, They will be done on earth as it is in heaven."
    %h1
      Do you know the
      %br
      %em so that
      %br
      of your life?