.hero.hero--primary
  .hero-media#hero-home{style: "background-image: url(#{image_path 'hero-home.jpg'})"}
  .hero-content
    .cell
      %h1.heading.heading--xl A Church Distributed
      = link_to "#", class: "video" do
        .video-thumbnail{style: "background-image: url(#{image_path 'hero-home.jpg'})"}
        %h2.tsxs Watch the Film
        %p.mbf You're invited to <em>be</em> the church.
  .hero-extend
    .cell
      .g
        - 4.times do
          .deck.deck--inverted.g-b.g-b--s--1of2.g-b--m--1of4
            = link_to "#", class: "db tci" do
              %h3.deck-title Locations &amp; Services
              %p.deck-description Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit blandit tempus porttitor.

-# .hero.hero--live
-#   .hero-media{style: "background-image: url(#{image_path 'hero-live.jpg'})"}
-#   .hero-content
-#     .cell.cell--m
-#       .g
-#         .g-b.g-b--m--1of2
-#           .media.media--large{style: "background-image: url(#{image_path 'hero-home.jpg'})"}
-#         .g-b.g-b--m--1of2
-#           %h1.heading.heading--l Join Live Worship
-#           %hr.rule.rule--story.mbl.mlf.mtl
-#           %p.tci.tss Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis consectetur purus sit amet fermentum.
-#           = link_to "Join Live Worship", "#", class: "btn btn--inverted"
-#   .hero-extend
-#     .cell
-#       = link_to "#", class: "video mhc" do
-#         .video-thumbnail{style: "background-image: url(#{image_path 'hero-home.jpg'})"}
-#         %h2.tsxs Watch the Film
-#         %p.mbf You're invited to <em>be</em> the church.
-#       .g
-#         - 4.times do
-#           .deck.deck--inverted.g-b.g-b--s--1of2.g-b--m--1of4
-#             = link_to "#", class: "db tci" do
-#               %h3.deck-title Locations &amp; Services
-#               %p.deck-description Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit blandit tempus porttitor.

.row.row--gray
  .cell.well
    .g
      - 4.times do
        .deck.g-b.g-b--s--1of2.g-b--m--1of4
          = link_to "#", class: "db" do
            .media.media--small{style: "background-image: url(#{lorem.image('600x350')})"}
            %h3.deck-title Summer Internship
            %p.deck-description The youth of northland are on a mission to build a stronger, better community.


.row.row--inverted
  .cell.cell--s.well.well--l.tac
    %blockquote
      "Thy kingdom come, Thy will be done on earth as it is in heaven."
      %cite &ndash; Jesus
    %hr.rule.rule--story
    %h1.heading
      Do you know the
      %br
      %em so that
      %br
      of your life?
    %hr.rule.rule--story
    %p If the highest aim of following Jesus is to be closer to God, then God would have taken you to heaven as soon as you committed your life to Him. But, you're still here, which means there is a reason you woke up this morning.
    %p Do you know why? Have you discovered what it is like to rest at the end of the day and know you were used by God?
    %p= link_to "Learn more about God", "#"

.row.row--image{style: "background-image: url(https://download.unsplash.com/photo-1413834932717-29e7d4714192)"}
  .cell.cell--s.well.well--xl.tac
    %h1.heading
      God
      %em so
      loved the world
      %em that...
    = link_to "#", class: "video mhc tal" do
      .video-thumbnail{style: "background-image: url(#{image_path 'hero-home.jpg'})"}
      %h2.tsxs Watch the Film
      %p.mbf You're invited to <em>be</em> the church.

.row.row--inverted
  .cell.cell--s.well.well--l.tac
    %h1.heading
      You have been given
      %em so that...
    %hr.rule.rule--story
    %p We believe God has uniquely created you &ndash; with specific gifts for specific purposes. You abilities, the way you think, even the things you struggle with, all point toward God's design and deliberate plan.
    %p We want to help you discover why God created you for such a time as this. And we want to help you offer your unique gifts and talents to God and to others in a way you may never have imagined was possible.
    %p= link_to "Discover your gifts", "#"

.row.row--gray
  .cell.cell--s.well.well--l.tac
    %h1.heading
      You are here
      %br
      %em so that...
    %hr.rule.rule--story
    %p Not only has God given you specific gifts, but God also has strategically given you a context and a community where you can express those gifts. The web of relationships you already have; the neighborhood where you already live; the place where you already work &ndash; these are the people among whom God providentially has placed you.
    %blockquote
      "On you I will build my church and the gates of Hell will not stand against it."
      %cite &ndash; Jesus
    %p What started with Peter two-thousand years ago extends to you today. Jesus has invited you into a community that is breaking the gates of hell in personal lives, families, and the world at large. You belong in this family and you have a part to play.
    %p= link_to "Find your church", "#"