.hero
  .hero-content
    .cell
      %h1.tci A Church Distributed
      = link_to "#", class: "video" do
        .video-thumbnail
          = image_tag 'hero-home.jpg'
        %h2.tsxs Watch the Film
        %p.mbf You're invited to <em>be</em> the church.
  .hero-extend
    .cell
      .g
        - 4.times do
          .g-b.g-b--s--1of2.g-b--m--1of4.mbm
            = link_to "#", class: "db tci" do
              %h3.h4.tss Locations &amp; Services
              %p.tsxxs Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Curabitur blandit tempus porttitor.

.row.row--gray
  .cell.well.well--xl
    .g
      - 4.times do
        .g-b.g-b--s--1of2.g-b--m--1of4
          = link_to "#", class: "db" do
            = image_tag lorem.image('600x350'), class: "mbm"
            %h3.h4.tss Summer Internship
            %p.mbf.tct.tsxxs The youth of northland are on a mission to build a stronger, better community.


.row.row--inverted
  .cell
    - 5.times do
      %p Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor.
      %p Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas faucibus mollis interdum.
      %p Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      %p Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum.