.hero.hero--secondary
  .hero-media{style: "background-image: url(#{image_path 'hero-resources.jpg'})"}
  .hero-content
    .cell.cell--s
      %h1.heading.heading--xl Ministries
      %p.tci.tss Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.

.row.row--inverted
  .cell.well
    .g
      .g-b.g-b--s--2of3.g-b--m--3of4.fr
        %hr.rule.mbl.mtf
        %h2.heading--italic.heading--m.mbl All Ministries
        .g.g--dib
          - 3.times do
            .deck.g-b.g-b--m--1of2.g-b--l--1of3
              = link_to "ministry.html" do
                .media.media--medium{style: "background-image: url(#{lorem.image('600x350')})"}
                %h4.deck-title Ministry Name
                %p.deck-description Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.
            .deck.g-b.g-b--m--1of2.g-b--l--1of3
              = link_to "ministry.html" do
                .media.media--medium{style: "background-image: url(#{lorem.image('600x350')})"}
                %h4.deck-title Ministry Name
                %p.deck-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            .deck.g-b.g-b--m--1of2.g-b--l--1of3
              = link_to "ministry.html" do
                .media.media--medium{style: "background-image: url(#{lorem.image('600x350')})"}
                %h4.deck-title Ministry Name
                %p.deck-description Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.
            .deck.g-b.g-b--m--1of2.g-b--l--1of3
              = link_to "ministry.html" do
                .media.media--medium{style: "background-image: url(#{lorem.image('600x350')})"}
                %h4.deck-title Ministry Name
                %p.deck-description Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla.
        = link_to "Load more", "#", class: "pagination"
      .g-b.g-b--s--1of3.g-b--m--1of4
        = partial "shared/filter"