.hero.hero--resource
  .hero-media{style: "background-image: url(#{image_path 'resource-ocean.jpg'})"}
  .hero-content
    .cell
      %ul.breadcrumbs.breadcrumbs--transparent
        %li= link_to "Home", "index.html"
        %li= link_to "Resources", "resources.html"
        %li= link_to "Category", "#{}"
  .hero-extend
    .cell
      %h1.heading.heading--l <em>Prayer</em>

.row
  .cell
    .card
      .g
        .g-b.g-b--m--2of3
          %article.article.article--scripture
            :markdown
              My friend Cindy was sent home from the hospital on Tuesday, but on Wednesday they had to take her back to the ER. She has heart arrhythmia and needs an ablation. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis interdum.
          %hr.rule.mbm
          %h2.heading.heading--italic.heading--m.tcs Posted by: Carol Boldman
        .g-b.g-b--m--1of3
          .card.card--deck.pal.mbl
            = link_to "Mark as Prayed for", "#", class: "btn btn--full btn--serif mbm"
            %dl.dictionary
              %dt.dictionary-term Date:
              %dd.dictionary-definition May 8, 2015
              %dt.dictionary-term Total Prayers:
              %dd.dictionary-definition 235 people
          %hr.rule.mbl
          = link_to "Previous", "#", class: "btn btn--outline btn--small fl"
          = link_to "Next ", "#", class: "btn btn--outline btn--small fr"
          
  .cell.well
    .g
      .g-b.g-b--m--1of3
        .card
          %h2.heading.heading--italic.heading--m.mbm Reading the Bible
          %hr.rule.mbm
          %p.tss Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada.
          = link_to "Read More", "#"
      .g-b.g-b--m--1of3
        .card
          %h2.heading.heading--italic.heading--m.mbm Reading Resources
          %hr.rule.mbm
          %p.tss Fermentum massa justo sit amet risus. Etiam porta sem malesuada.
          %ul.mbf.tsxs
            %li= link_to "The PR3 Method", "#"
            %li= link_to "The S.O.A.P. Method", "#"
            %li= link_to "E100 Reading Plan", "#"
      .g-b.g-b--m--1of3
        .card
          %h2.heading.heading--italic.heading--m.mbm Praying Scripture Together
          %hr.rule.mbm
          %p.tss Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada.
          = link_to "Read More", "#"