.row.row--gray
  .cell.well.well--page
    .card
      %header.mbxl
        %ul.breadcrumbs
          %li= link_to "Home", "#"
          %li= link_to "Resources", "resources.html"
          %li= link_to "Category", "#"
        %h1.heading.heading--xl Read the Bible

      .g
        .g-b.g-b--m--2of3
          %hr.rule.mbl.mtf
          %article.article.article--scripture
            :markdown
              <sup>1</sup>In the beginning was the Word, and the Word was with God, and the Word was God.
              <sup>2</sup>The same was in the beginning with God.
              <sup>3</sup>All things were made by him; and without him was not any thing made that was made.
              <sup>4</sup>In him was life; and the life was the light of men.
              <sup>5</sup>And the light shineth in darkness; and the darkness comprehended it not.
              <sup>6</sup>There was a man sent from God, whose name was John.
              <sup>7</sup>The same came for a witness, to bear witness of the Light, that all men through him might believe.
              <sup>8</sup>He was not that Light, but was sent to bear witness of that Light.
              <sup>9</sup>That was the true Light, which lighteth every man that cometh into the world.
              <sup>10</sup>He was in the world, and the world was made by him, and the world knew him not.
              <sup>11</sup>He came unto his own, and his own received him not.
              <sup>12</sup>But as many as received him, to them gave he power to become the sons of God, even to them that believe on his name:
          %h3.heading.heading--italic.heading--m.mbl
            = link_to "John 1:1&ndash;12", "https://www.bible.com/bible/1/jhn.1"
        .g-b.g-b--m--1of3
          .card.card--deck.pal.mbl
            = link_to "Mark as Read", "#", class: "btn btn--full btn--serif mbm"
            %dl.dictionary
              %dt.dictionary-term Date:
              %dd.dictionary-definition June 10, 2015
              %dt.dictionary-term Time of Day:
              %dd.dictionary-definition Morning
              %dt.dictionary-term Total Read:
              %dd.dictionary-definition 235 people
          %hr.rule.mbl
          = link_to "Previous", "#", class: "btn btn--outline btn--small fl"
          = link_to "Next ", "#", class: "btn btn--outline btn--small fr"

.row.row--inverted
  .cell.well
    .g
      .g-b.g-b--m--1of3
        %h2.heading.heading--italic.heading--m.mbm Reading the Bible
        %hr.rule.mbm
        %p.tss Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada.
        = link_to "Read More", "#", class: "dib mbl"
      .g-b.g-b--m--1of3
        %h2.heading.heading--italic.heading--m.mbm Reading Resources
        %hr.rule.mbm
        %p.tss Fermentum massa justo sit amet risus. Etiam porta sem malesuada.
        %ul.mbl.tsxs
          %li= link_to "The PR3 Method", "#"
          %li= link_to "The S.O.A.P. Method", "#"
          %li= link_to "E100 Reading Plan", "#"
      .g-b.g-b--m--1of3
        %h2.heading.heading--italic.heading--m.mbm Praying Scripture Together
        %hr.rule.mbm
        %p.tss Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada.
        = link_to "Read More", "#", class: "dib mbl"