.hero.hero--resources
  .hero-media{style: "background-image: url(#{image_path 'hero-resources.jpg'})"}
  = link_to "article.html", class: "hero-content" do
    .cell
      .meta
        %h4.meta-author Dr. Joel C. Hunter
        %p.meta-date May 8, 2015
      %hr.rule.rule--resources
      %h1.heading.heading--italic.heading--l Becoming a Spiritual Family of Families
      %p.mbl.tci What its like to be grafted into relationship with God, and others.
      .btn.btn--outline Read the article
  .hero-extend
    .cell
      .g
        - 5.times do
          .deck.deck--filter.deck--inverted.g-b.g-b--s--1of2.g-b--m--1of5
            = link_to "#", class: "db tci" do
              %h3.deck-title Theme Filter
              %p.deck-description Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.
      %hr.rule.rule--transparent.mbl
      .tac.tsxs
        %span.mrm.tco Filter by type:
        = link_to "Video", "#", class: "mrm tci"
        = link_to "Blogs", "#", class: "mrm tci"
        = link_to "Ask a Pastor", "#", class: "mrm tci"
        = link_to "Liturgy", "#", class: "mrm tci"
        = link_to "Prayers", "#", class: "mrm tci"
        = link_to "Stories", "#", class: "mrm tci"

.row
  .cell.well
    .has-editorials
      = link_to "#", class: "editorial", style: "background-image: url(#{image_path 'hero-resources.jpg'})" do
        .editorial-text
          %h2.editorial-title Miracles
          %p How faith can survive miracle-less moments.
          .tag Wisdom
        .meta.meta--bottom
          %h4.meta-author Becky C. Hunter
          %p.meta-date May 8, 2015
      = link_to "#", class: "editorial editorial--large", style: "background-image: url(#{image_path 'hero-resources.jpg'})" do
        .editorial-text
          .editoral-video
            %i.material-icons play_arrow
          %h2.editorial-title Because I Told You So
          .meta
            %h4.meta-author Becky C. Hunter
            %p.meta-date May 8, 2015
          .tag Art
      = link_to "#", class: "editorial", style: "background-image: url(#{image_path 'hero-resources.jpg'})" do
        .editorial-text
          .editoral-video
            %i.material-icons play_arrow
          %h2.editorial-title Because I Told You So
          .meta
            %h4.meta-author Becky C. Hunter
            %p.meta-date May 8, 2015
          .tag Art
      = link_to "#", class: "editorial", style: "background-image: url(#{image_path 'hero-resources.jpg'})" do
        .editorial-text
          %h2.editorial-title Small Miracles
          .meta
            %h4.meta-author Becky C. Hunter
            %p.meta-date May 8, 2015
          .tag Wisdom
      = link_to "#", class: "editorial", style: "background-image: url(#{image_path 'hero-resources.jpg'})" do
        .editorial-text
          %h2.editorial-title Miracles
          %p How faith can survive miracle-less moments.
      = link_to "#", class: "editorial editorial--featured", style: "background-image: url(#{image_path 'hero-resources.jpg'})" do
        .editorial-text
          %h2.editorial-title Miracles
          %p How faith can survive miracle-less moments.
      = link_to "#", class: "editorial", style: "background-image: url(#{image_path 'hero-resources.jpg'})" do
        .editorial-text
          %h2.editorial-title Miracles
          %p How faith can survive miracle-less moments.
      = link_to "#", class: "editorial editorial--large", style: "background-image: url(#{image_path 'hero-resources.jpg'})" do
        .editorial-text
          %h2.editorial-title Miracles
          %p How faith can survive miracle-less moments.
      = link_to "#", class: "editorial", style: "background-image: url(#{image_path 'hero-resources.jpg'})" do
        .editorial-text
          %h2.editorial-title Miracles
          %p How faith can survive miracle-less moments.
      = link_to "#", class: "editorial", style: "background-image: url(#{image_path 'hero-resources.jpg'})" do
        .editorial-text
          %h2.editorial-title Miracles
          %p How faith can survive miracle-less moments.
      = link_to "#", class: "editorial", style: "background-image: url(#{image_path 'hero-resources.jpg'})" do
        .editorial-text
          %h2.editorial-title Miracles
          %p How faith can survive miracle-less moments.
      = link_to "#", class: "editorial editorial--featured", style: "background-image: url(#{image_path 'hero-resources.jpg'})" do
        .editorial-text
          %h2.editorial-title Miracles
          %p How faith can survive miracle-less moments.
