.hero.hero--resources
  .hero-media{style: "background-image: url(#{image_path 'hero-resources.jpg'})"}
  = link_to "article.html", class: "hero-content" do
    .cell
      .meta
        %h4.meta-author Dr. Joel C. Hunter
        %p.meta-date May 8, 2015
      %hr.rule.rule--resources
      %h1.heading.heading--italic.heading--l Becoming a Spiritual Family of Families
      %p.mbl.tci What its like to be grafted into relationship with God, and others.
      .btn.btn--transparent Read the article
  .hero-extend
    .cell
      .g
        - 5.times do
          .deck.deck--filter.deck--inverted.g-b.g-b--s--1of2.g-b--m--1of5
            = link_to "#", class: "db tci" do
              %h3.deck-title Theme Filter
              %p.deck-description Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.
      %hr.rule.rule--transparent.mbl
      .tac.tsxs
        %span.mrm.tco Filter by type:
        = link_to "Video", "#", class: "mrm tci"
        = link_to "Blogs", "#", class: "mrm tci"
        = link_to "Ask a Pastor", "#", class: "mrm tci"
        = link_to "Liturgy", "#", class: "mrm tci"
        = link_to "Prayers", "#", class: "mrm tci"
        = link_to "Stories", "#", class: "mrm tci"

.row
  .cell.well
    .has-editorials
      = link_to "#", class: "editorial", style: "background-image: url(#{image_path 'resource-beach.jpg'})" do
        .editorial-text
          %h2.editorial-title Miracles
          %p How faith can survive miracle-less moments.
          .tag Wisdom
        .meta.meta--bottom
          %h4.meta-author Becky C. Hunter
          %p.meta-date May 8, 2015
      = link_to "#", class: "editorial editorial--large", style: "background-image: url(#{image_path 'resource-ocean.jpg'})" do
        .editorial-text
          .editoral-video
            %i.material-icons play_arrow
          %h2.editorial-title Because I Told You So
          .meta
            %h4.meta-author Becky C. Hunter
            %p.meta-date May 8, 2015
          .tag Art
      = link_to "#", class: "editorial", style: "background-image: url(#{image_path 'resource-table.jpg'})" do
        .editorial-text
          .editoral-video
            %i.material-icons play_arrow
          %h2.editorial-title Because I Told You So
          .meta
            %h4.meta-author Becky C. Hunter
            %p.meta-date May 8, 2015
          .tag Art
      = link_to "#", class: "editorial", style: "background-image: url(#{image_path 'resource-beach.jpg'})" do
        .editorial-text
          %h2.editorial-title Small Miracles
          .meta
            %h4.meta-author Becky C. Hunter
            %p.meta-date May 8, 2015
          .tag Wisdom
      = link_to "#", class: "editorial editorial--imageless" do
        .editorial-text
          %p My friend Cindy was sent home from the hospital on Tuesday, but on Wednesday they had to take her back to the ER. She has heart arrhythmia and needs an ablation. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis interdum.
        .meta.meta--inverted
          %h4.meta-author Carol Boldman
          %p.meta-date May 8, 2015
          .tag Prayer
      = link_to "#", class: "editorial editorial--large", style: "background-image: url(#{image_path 'resource-beach.jpg'})" do
        .editorial-text
          %h2.editorial-title Miracles
          %p How faith can survive miracle-less moments.
          .tag Wisdom
        .meta.meta--bottom
          %h4.meta-author Becky C. Hunter
          %p.meta-date May 8, 2015
      = link_to "#", class: "editorial", style: "background-image: url(#{image_path 'resource-ocean.jpg'})" do
        .editorial-text
          .editoral-video
            %i.material-icons play_arrow
          %h2.editorial-title Because I Told You So
          .meta
            %h4.meta-author Becky C. Hunter
            %p.meta-date May 8, 2015
          .tag Art
      = link_to "#", class: "editorial", style: "background-image: url(#{image_path 'resource-table.jpg'})" do
        .editorial-text
          .editoral-video
            %i.material-icons play_arrow
          %h2.editorial-title Because I Told You So
          .meta
            %h4.meta-author Becky C. Hunter
            %p.meta-date May 8, 2015
          .tag Art
      = link_to "#", class: "editorial editorial--imageless editorial--large" do
        .editorial-text
          %p Have mercy on me, O God, according to your unfailing love; according to your great compassion blot out my transgressions. Wash away all my iniquity and cleanse me from my sin. For I know my transgressions, and my sin is always before me. Against you, you only, have I sinned and done what is evil in your sight; so you are right in your verdict and justified when you judge. Surely I was sinful at birth, sinful from the time my mother conceived me. Yet you desired faithfulness even in the womb; you taught me wisdom in that secret place. Cleanse me with hyssop, and I will be clean; wash me, and I will be whiter than snow. Let me hear joy and gladness; let the bones you have crushed rejoice. Hide your face from my sins and blot out all my iniquity. Create in me a pure heart, O God, and renew a steadfast spirit within me. Do not cast me from your presence or take your Holy Spirit from me. Restore to me the joy of your salvation and grant me a willing spirit, to sustain me. Then I will teach transgressors your ways, so that sinners will turn back to you. Deliver me from the guilt of bloodshed, O God, you who are God my Savior, and my tongue will sing of your righteousness. Open my lips, Lord, and my mouth will declare your praise. You do not delight in sacrifice, or I would bring it; you do not take pleasure in burnt offerings. My sacrifice, O God, is[b] a broken spirit; a broken and contrite heart you, God, will not despise. May it please you to prosper Zion, to build up the walls of Jerusalem. Then you will delight in the sacrifices of the righteous, in burnt offerings offered whole; then bulls will be offered on your altar.
        .meta.meta--inverted
          %h4.meta-author Psalm 51:1&ndash;19
          %p.meta-date Morning &bull; May 8, 2015
          .tag Liturgy