.hero.hero--resources
  .hero-media
  = link_to "article.html", class: "hero-content" do
    .cell
      %h4.mbxs.tci.tsxs Dr. Joel C. Hunter
      %p.tci.tsi.tsxxs May 8, 2015
      %hr.rule.rule--resources
      %h1.tci Resource Page
      %p.mbl.tci What its like to be grafted into relationship with God, and others.
      .btn.btn--outline Read the article
  .hero-extend
    .cell
      .g
        - 5.times do
          .g-b.g-b--s--1of2.g-b--m--1of5.mbs
            = link_to "#", class: "db tci" do
              %h3.tss Theme Filter
              %p.tsxxs Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.
      %hr.rule.rule--transparent.mbl
      .tsxs
        %span.tco Filter by type:
        = link_to "Video", "#", class: "mlm tci"
        = link_to "Blogs", "#", class: "mlm tci"
        = link_to "Ask a Pastor", "#", class: "mlm tci"
        = link_to "Liturgy", "#", class: "mlm tci"
        = link_to "Prayers", "#", class: "mlm tci"
        = link_to "Stories", "#", class: "mlm tci"

.row
  .cell.well
    .g
      - 3.times do
        .g-b.g-b--m--1of3
          = image_tag lorem.image('600x350'), class: "mbl"
      - 8.times do
        .g-b.g-b--1of2.g-b--m--1of4
          = image_tag lorem.image('600x350'), class: "mbl"